﻿@model IEnumerable<AzureEventSite.Models.EventDisplayModel>
<table style="background-color:azure" class="table table-hover">
    <tr>
        <th>@Ajax.ActionLink("Visa kommentarer", "ShowComments", "Admin", new AjaxOptions { UpdateTargetId = "siteContent" })</th>
        <th>@Ajax.ActionLink("Visa table storage", "ShowTable", "Admin", new AjaxOptions { UpdateTargetId = "siteContent" })</th>
        <th>Event ID</th>
        <th>Event Namn</th>
        <th>Antal Ja</th>
        <th>Antal Nej</th>
        <th>Likes</th>
        <th>Dislikes</th>
        <th>Datum för event</th>
        <th>Skapare</th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr class="masterRow">
            <td></td>
            <td></td>
            <td class="IdHolder">@item.Id</td>
            <td><font color="336699" face="Helvetica">@item.Name</font></td>
            <td><font color="336699" face="Helvetica">@item.Attenders</font></td>
            <td><font color="336699" face="Helvetica">@item.NonAttenders</font></td>
            <td><font color="336699" face="Helvetica">@item.Likes</font></td>
            <td><font color="336699" face="Helvetica">@item.Dislikes</font></td>
            <td><font color="336699" face="Helvetica">@item.Date</font></td>
            <td><font color="336699" face="Helvetica">@item.Creater</font></td>
            <td><button class="btn-warning deleteBtn">Radera</button></td>
        </tr>
    }

</table>


<script>

    $(document).ready(function () {

        $(".table").on("click", ".deleteBtn", function () {
            var apiUrl = '../api/event';
            var selectedId = parseInt($(this).closest(".masterRow").find(".IdHolder").text());

            var eventPropHolder = {
                EventId: selectedId
            };

            $.ajax({
                url: apiUrl,
                type: 'DELETE',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(eventPropHolder),
                success: function (data) {

                    $.post("/Admin/Index",  function (data) {
                        $("#siteContent").html(data);
                    });
                   
                }
            });
            
        });
    });

    
</script>
