﻿@model IEnumerable<AzureEventSite.Models.CommentsDisplayModel>

<table style="background-color:azure" class="table table-hover allComments">
    <tr>        
        <th>@Ajax.ActionLink("Gå tillbaka", "Index", "Admin", new AjaxOptions { UpdateTargetId = "siteContent" })</th>
        <th>ID</th>
        <th>Kommentar</th>
        <th>EventID</th>
        <th>Användare</th>        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="masterCommentRow">
            <td></td>
            <td class="commentIdHolder"><font color="336699" face="Helvetica">@item.CommentId</font></td>
            <td><font color="336699" face="Helvetica">@item.Comment</font></td>
            <td><font color="336699" face="Helvetica">@item.EventId</font></td>
            <td><font color="336699" face="Helvetica">@item.CommentOwner</font></td>
            <td><button class="btn-warning deleteCommentBtn">Radera</button></td>
        </tr>
    }

</table>


<script>
    $(document).ready(function () {

        $(".allComments").on("click", ".deleteCommentBtn", function () {
            var apiUrl = '../api/event';
            var selectedId = parseInt($(this).closest(".masterCommentRow").find(".commentIdHolder").text());

            var eventPropHolder = {
                CommentId: selectedId
            };

            $.ajax({
                url: apiUrl,
                type: 'DELETE',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(eventPropHolder),
                success: function (data) {

                    $.post("/Admin/ShowComments", function (data) {
                        $("#siteContent").html(data);
                    });

                }
            });

        });
    });
</script>