﻿@model AzureEventSite.Models.UserModel

<head>
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="~/css/business-casual.css" rel="stylesheet">
</head>

<body>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Fel inloggnings uppgifter, försök igen")
        <div class="box">
            <form role="form">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <div>@Html.LabelFor(u => u.FirstName)</div>
                        <div>@Html.TextBoxFor(u => u.FirstName)</div>

                        <div>@Html.LabelFor(u => u.LastName)</div>
                        <div>@Html.TextBoxFor(u => u.LastName)</div>

                        <div>@Html.LabelFor(u => u.UserName)</div>
                        <div>@Html.TextBoxFor(u => u.UserName)</div>

                        <div>@Html.LabelFor(u => u.PassWord)</div>
                        <div>
                            @Html.PasswordFor(u => u.PassWord)
                            @Html.ValidationMessageFor(u => u.PassWord)
                        </div>

                        <input type="submit" value="Registrera" />
                    </div>
                </div>
            </form>
        </div>
    }
</body>


<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>